<div class="pricing" id="pricing">
  <div class="container">
    <app-mean-heading
      [header]="header_Obj.header"
      [pragh]="header_Obj.p"
    ></app-mean-heading>
    <div class="plans">
      <div class="plan" *ngFor="let Feature of Feature_Pricing">
        <div class="head">
          <h3>{{ Feature.name | uppercase }}</h3>
          <span
            [attr.data-coin]="Feature.coin"
            [attr.data-Dur]="Feature.duration"
            >{{ Feature.price }}</span
          >
        </div>
        <ul>
          <li>Feature No 1</li>
          <li>Extra Feature</li>
          <li>Extra Feature No 2</li>
          <li>Feature</li>
        </ul>
        <div class="foot">
          <a href="#">Buy Now</a>
        </div>
      </div>
      <!-- ###### -->
    </div>
    <p class="contact-text">Contact us if you have special request</p>
    <a class="contact-link" href="#">Contact Us</a>
  </div>
</div>
