@import "../../../shared_css/variables.scss";
.services {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  .container {
    .serv-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      .serv-box {
        display: flex;
        align-items: center;
        gap: 40px;
        @media (max-width: 767px) {
          //     & {
          //       flex-direction: column;
          //       text-align: center;
          //     }
        }
        i {
          margin-right: 10px;
        }
        h3 {
          margin-top: 10px;
          margin-bottom: 10px;
          color: $main-color;
        }
        p {
          line-height: 2;
          color: #777;
        }
      }
    }
  }
}

//do not forget grid-column-gap==40px
//do not forget grid-row-gap==40px
